<br>
<br>
<br>
<br>



<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rememberme</title>

  <style>    
    /* Set black background color, white text and some padding */
    
  </style>
</head>
<body background="http://localhost:3000/assets/essai17.png" id="bg">
 
<div class="container text-center">

  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
        <p><a href="#"><%current_user.fullname%></a></p>
        <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
      </div>
      <div class="well">
        <p><a href="#">Interests</a></p>
        <p>
          <span class="label label-default">News</span>
          <span class="label label-success">Labels</span>
          <span class="label label-info">Football</span>
          <span class="label label-warning">Gaming</span>
          <span class="label label-danger">Friends</span>
        </p>
      </div>
      <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><strong>Ey!</strong></p>
        People are looking at your profile. Find out who.
      </div>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-7">
    	<div class="color_h2">
    	<h1> My Questions submited </h1>
		</div>
      <% @question.each do |q| %>
        <% if q.user_id == current_user.id %>
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default text-left">
              <div class="panel-body">
                <p >
			         	 <%= q.question_title %>
				          <a href="/questions/<%=q.id%>/answers" class="btn btn-primary" role="button">Show</a>
  				        <a href="/questions/<%=q.id%>/edit" class="btn btn-primary" role="button">Edit</a>
          				<%= link_to 'Delete',  question_path(q), method: :delete, data: { confirm: 'Are you sure?' } %>			
                  <br>
  		  		    </p>
              </div>
            </div>
          </div>
        </div>
        <% end %>	
      <% end %> 		
      <br>
  <div class="color_h2">
    <h1> My Answers submited </h1>
  </div>
   <% @answer.each do |q| %>
    <%if q.user_id == current_user.id %>
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <p >
	         			<%= q.answer_body %>
			         	<a href="/questions/<%=q.question_id%>/answers/<%=q.id%>" class="btn btn-primary" role="button">Show</a>
		          	<a href="/questions/<%=q.question_id%>/answers/<%=q.id%>/edit" class="btn btn-primary" role="button">Edit</a>
        				<%= link_to 'Delete',  question_answers_path(q), method: :delete, data: { confirm: 'Are you sure?' } %>
        			 <br>
  			     	</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>	
  <% end %> 
  <br>
    <div class="color_h2">
      <h1> My Comments submited </h1>
    </div>
    <% @comment.each do |q| %>
      <%if q.user_id == current_user.id %>
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <p >
		        		<%= q.comment_body %>
		        		<a href="/questions/<%=q.question_id%>/answers/<%=q.answer_id%>" class="btn btn-primary" role="button">Show</a>
          			<a href="/questions/<%=q.question_id%>/answers/<%=q.answer_id%>/comments/<%= q.id%>/edit" class="btn btn-primary" role="button">Edit</a>
        			 <br>
  			     	</p>
            </div>
          </div>
        </div>
      </div>
      <% end %>	
    <% end %>     
   </div>



    <div class="col-sm-2 well">   
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>

  <footer class="container-fluid text-center">
    <p>Copyright@2016 by Adrien Gonzalez</p>
  </footer>

</body>
</html>


