
 <body background="http://localhost:3000/assets/profile.jpg" id="bg" >
<div align="center">
<div class="mydiv">
<br>
<br>

<%= form_for @user do |f| %>
  <%= f.label :fullname %><br />
  <%= f.text_field :fullname %><br />
  <%= f.label :nickname %><br />
  <%= f.text_field :nickname %><br />
  <%= f.label :phone_number %><br />
  <%= f.text_field :phone_number %><br />
  <%= f.label :email %><br />
  <%= f.text_field :email %><br />
  <%= f.label :password %><br />
  <%= f.text_field :password %><br />
  <%= f.label :description %><br />
  <%= f.text_field :description %><br />
  <%= f.label :interest %><br />
  <%= f.text_field :interest %><br />
<%= f.submit %>
      <% end %>
</body>

</div>
</div>

   <div id="footer">
    <p> Copyright@2016 by Adrien Gonzalez</p></div>