 <body background="../assets/profile.jpg" id="bg" >
	<div align="center">
		<div class="mydiv">
		<br>
		<br>
		<br>
		<br>

		<h4>fullname :<%=@user.fullname %></h4>
		<h4>nickname :<%=@user.nickname %></h4>
		<h4>phone_number :<%=@user.phone_number %></h4>
		<h4>email :<%=@user.email %></h4>
		<h4>password :<%=@user.password %></h4>
		<h4>description :<%=@user.description %></h4>
		<h4>interest :<%=@user.interest %></h4>

		<%= link_to 'Edite your profile', edit_user_path %>

		</div>
	</div>

   <div id="footer">
    <p> Copyright@2016 by Adrien Gonzalez</p>
   </div>
</body>
