<br>
<br>
<br>
<br>
<div class ="container">
	<div class="row">

<% if current_user.voted_up_on? @answer  %>
      <%= link_to "Dislike", dislike_question_answer_path, class: 'vote', method: :put %>      
  <% else %>
      <%= link_to "Like", like_question_answer_path, class: 'vote', method: :put %>
  <% end %>

<br>
<br>

<h2> Complete answer</h2>
<%= @question.question_title %>
<%= @answer.answer_body %>
<% @commented.each do |a|%>
<%if @answer.id = a.answer_id%>
<%= a.comment_body%>
<%end%> 
<%end%> 




<br>



<br>
<%= form_for @comment do |a| %>
<%= a.label :comment_body %>
<br>

<%= a.text_area :comment_body%> 
<%=a.hidden_field :user_id, value: current_user.id %>  
<%=a.hidden_field :answer_id, value: params[:id] %> 
<%=a.hidden_field :question_id, value: params[:question_id] %> 

<br>
<%= a.submit %>


<br>
<%end%>
</div>
</div>