<br>
<br>
<br>


<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rememberme</title>
  

</head>

<body background="../assets/essai17.png" id="bg">
<div class="box1"> 
<div class="container text-center">

  <div class="row">
   <div class="col-sm-2 well">
      <%i=0%>
      <% while i<5 %>
        <div class="well">
          <%j=0%>
          <%h=0%>
            <%while j< rand(1..9)%>
              <br>
              <%j=j+1 %>
            <%end%>
          <p>ADS</p>
            <%while h < j%>
              <br>
              <%h=h+1 %>
            <%end%>
        </div>
      <%i=i+1 %>
      <%end%>
    </div>
    
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <p>              	
				        <% if current_user.voted_up_on? @answer  %>
      				      <%= link_to "Dislike", dislike_question_answer_path, class: 'vote', method: :put %>      
        				<% else %>
          					<%= link_to "Like", like_question_answer_path, class: 'vote', method: :put %>
				        <% end %>
  				
				      </p>    
            </div>
          </div>
        </div>
      </div>
      
       <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <p>              	
				        <h2> Complete answer</h2>
	           			<%= @question.question_title %>
      				</p>    
            </div>
          </div>
        </div>
      </div>
      
       <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <p>              	
			         	<%= @answer.answer_body %>
      				</p>    
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <p>              	
			         	<% @commented.each do |a|%>
			           	<%if @answer.id = a.answer_id%>
			             	<%= a.comment_body%>
	           			<%end%> 
				        <%end%>
	       			</p>    
            </div>
          </div>
        </div>
      </div>
     
     <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <p>              	
        				<%= form_for @comment do |a| %>
			       		 <%= a.label :comment_body %>
				          <br>
        				  <%= a.text_area :comment_body%> 
				          <%=a.hidden_field :user_id, value: current_user.id %>  
        				  <%=a.hidden_field :answer_id, value: params[:id] %> 
				          <%=a.hidden_field :question_id, value: params[:question_id] %> 
					         <br>
				          <%= a.submit %>
				          <br>
				        <%end%>
				      </p>    
            </div>
          </div>
        </div>
      </div>       
    </div>
       <div class="col-sm-2 well">
      <%i=0%>
      <% while i<5 %>
        <div class="well">
          <%j=0%>
          <%h=0%>
            <%while j< rand(1..9)%>
              <br>
              <%j=j+1 %>
            <%end%>
          <p>ADS</p>
            <%while h < j%>
              <br>
              <%h=h+1 %>
            <%end%>
        </div>
      <%i=i+1 %>
      <%end%>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Copyright@2016 by Adrien Gonzalez</p>
</footer>
</div>
  </body>
</html>
